/* !RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-height: 100%;
}
ul {
    list-style: none;
}
/* !GENERAL */
body {
    font-family: 'Roboto', sans-serif;
}
/* @font */
.primary-text {
    font-size: 1.3rem;
}
.secondary-text {
    font-size: .8rem;
}
/* @spacing */
.side > *,
.main >* {
    padding: .5rem;
}
/* @miscellaneous */
.block {
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.circle-wrapper {
    border-radius: 50%;
    background-color: #F2FBFF;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1.5rem;
    color: #8EDAFC;
}

/* @wrapper */
.mc_wrapper {
    height: 100vh;
    background: linear-gradient(#009688 20%, #DADBD4 20%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 95%;
    width: 1200px;
    display: flex;
}

.header {
    background-color: #EAEAEA;
}

.header img,
.circle-wrapper img {
    border-radius: 50%;
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}
/* !SIDE */
.side {
    height: 100%;
    width: 40%;
    border-right: 2px solid #DADBD4;
    display: flex;
    flex-direction: column;
    /* debug */
    background-color: aliceblue;
}

.user > * {
    vertical-align: middle;
    font-size: 1.5rem;
}
.banner {
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input-group label {
    display: inline-block;
    width: 10%;
    text-align: center;
    padding: .5rem;
}
.input-group input {
    width: 90%;
    padding: .5rem;
    border: none;
    border-radius: 5px;
}
.contact-list {
    overflow-y: auto;
    flex-grow: 1;
}
li .block {
    margin-bottom: .5rem;
}
.avatar-info {
    flex-grow: 1;
    margin: auto;
}

.hidden {
    display: none;
}

/* !MAIN */
.main {
    height: 100%;
    width: 60%;
}
/* @MAIN-header */
.main .user {
    display: flex;
}

.main-content{
    height: calc(100% - 130px);
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
}
.footer {
    background-color: #F3EEEA;
}

 /* @MAIN-content */
 .main-content {
    display: flex;
    flex-direction: column;
 }

 .message {
     padding: .5rem;
     border-radius: 5px;
     margin-bottom: .5rem;
     max-width: 60%;
 }
 .empty {
    background-color: rgba(0, 0, 0, .3);
    align-self: center;
    margin: auto;
 }
 .received {
    background-color: #F2FBFF;
    align-self: flex-start;
 }

 .sent {
    background-color: #D5F9BA;
    align-self: flex-end;
 }
.date {
    font-size: .7rem;
    text-align: end;
}
 .footer {
    height: 50px;
    display: flex;
    align-items: center;
 }

 .footer > * {
    display: inline-block;
    padding: .5rem;
 }

 .footer input {
    flex-grow: 1;
    height: 30px;
    border: none;
 }