/* !RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-height: 100%;
}
ul {
    list-style: none;
}
/* !GENERAL */
body {
    font-family: 'Roboto', sans-serif;
}
/* @font */
.primary-text {
    font-size: 1.3rem;
}
.secondary-text {
    font-size: .8rem;
}
/* @spacing */
.side > *,
.main >* {
    padding: .5rem;
}
/* @miscellaneous */
.block {
    height: 10%;
    display: flex;
    justify-content: space-between;

}

.circle-wrapper {
    border-radius: 50%;
    background-color: #F2FBFF;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1.5rem;
    color: #8EDAFC;
}
/* @wrapper */
.mc_wrapper {
    height: 100vh;
    background: linear-gradient(#009688 20%, #DADBD4 20%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 95%;
    width: 1200px;
    display: flex;
}

.header {
    background-color: #EAEAEA;
}

.header img,
.circle-wrapper img {
    border-radius: 50%;
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}
/* !SIDE */
.side {
    height: 100%;
    width: 40%;
    border-right: 2px solid #DADBD4;
    /* debug */
    background-color: aliceblue;

}

.user > * {
    vertical-align: middle;
    font-size: 1.5rem;
}
.banner {
    height: 10%;
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input-group label {
    display: inline-block;
    width: 10%;
    text-align: center;
}
.input-group input {
    width: 90%;
}

/* !MAIN */
.main {
    height: 100%;
    width: 60%;
}
/* @MAIN-header */
.main .user {
    display: flex;
}

.main-content{
    height: 80%;
    background-image: url(../img/mine.jpg);
}
.footer {
    height: 10%;
    background-color: #F3EEEA;
}