<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- roboto google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- custom style-->
    <link rel="stylesheet" href="css/style.css">
    <!-- vue js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <div class="mc_wrapper">
            <div class="container">
                <!-- !SIDE -->
                <div class="side">
                    <!-- @SIDE-header -->
                    <div class="block header">
                        <div class=" user">
                            <img src="img/avatar_io.jpg" alt="my-avatar">
                            <span>John</span>
                        </div>
                        <div class="btn-group">
                            <i class="fa-solid fa-circle-notch fa-2x"></i>
                            <i class="fa-solid fa-message fa-2x"></i>
                            <i class="fa-solid fa-ellipsis-vertical fa-2x"></i>
                        </div>
                    </div>
                    <!-- @SIDE-banner -->
                    <div class=" block banner">
                        <div class="circle-wrapper">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="avatar-info">
                            <p class="primary-text">Ricevi notifiche di nuovi messaggi</p>
                            <p class="secondary-text">Attiva notifiche desktop</p>
                        </div>
                    </div>
                    <!-- @SIDE-finder -->
                    <div class="input-group">
                        <label for="finder">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </label>
                        <input type="text" name="" id="" placeholder="Cerca o inizia una nuova chat">
                    </div>
                    <!-- @SIDE-list -->
                    <ul class="contact-list">
                        <li v-for="contact in contacts">
                            <div class="block" @click="activeChatSelected(contact)">
                                <div class="circle-wrapper">
                                    <img :src="`img/avatar${contact.avatar}.jpg`" alt="avatar-image">
                                </div>
                                <div class="avatar-info">
                                    <p class="primary-text">{{ contact.name }}</p>
                                    <p class="secondary-text"> {{contact.messages[contact.messages.length-1].message}}</p>
                                </div>
                                <p class="secondary-text">{{ contact.messages[contact.messages.length-1].date.slice(11, -3) }}</p>
                            </div>
                        </li>
                    </ul>
                </div>                    

                <!-- !MAIN -->
                <div v-if="activeChat === null" class="main">
                    <!-- @MAIN-header -->
                    <div class="block header">
                    </div>
                    <!-- @MAIN-content -->
                    <div class="main-content">
                        <span class="message empty">
                            Seleziona una chat
                        </span>
                    </div>
                    <!-- @MAIN-footer -->
                    <div class="footer">
                        <i class="fa-regular fa-face-smile"></i>
                        <input type="text" placeholder="Scrivi un messaggio" :disabled="disabled">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
                <div  v-else class="main">
                    <!-- @MAIN-header -->
                    <div class=" block header">
                        <div class="user">
                            <img :src="`img/avatar${activeChat.avatar}.jpg`" alt="avatar-image">
                            <div class="avatar-info">
                                <p class="primary-text">{{activeChat.name}}</p>
                                <p class="secondary-text">{{activeChat.messages[activeChat.messages.length-1].date.slice(11, -3)}}</p>
                            </div>
                        </div>
                        <div class="btn-group">
                            <i class="fa-solid fa-magnifying-glass fa-2x"></i>
                            <i class="fa-solid fa-paperclip fa-2x"></i>
                            <i class="fa-solid fa-ellipsis-vertical fa-2x"></i>
                        </div>
                    </div>
                    <!-- @MAIN-content -->
                    <div class="main-content">
                        <div v-for="currentChat in activeChat.messages" class="message" :class="currentChat.status === 'received' ? 'received':'sent'">
                            {{currentChat.message}}
                            <span class="date"> {{currentChat.date.slice(11, -3)}}</span>
                        </div>
                    </div>
                    <!-- @MAIN-footer -->
                    <div class="footer">
                        <i class="fa-regular fa-face-smile"></i>
                        <input type="text" placeholder="Scrivi un messaggio" v-model="myMessage" @keyup.enter="messageGenerator(activeChat)">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- custom js -->
    <script src="js/script.js"></script>
</body>

</html>